body {
    max-width: 350px;
    margin: auto;
    background-color: aquamarine;
    
}

.buttons{
    padding: 20px;
}

.wrapper {
    display: grid;
    max-width: 350px;
    padding: 10px;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
  }
  
  .box {
   display: block;
    padding: 20px;
    background-color: #fff;
    max-width: 135px;
  }
  img{
      padding: 10px;
  }
  
  
      
  
